@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 background-color: #efefef;
 color: #2222;
 overflow: hidden;
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-top {
    animation: slideInFromTop 1s ease-out forwards;
  }
  
  .slide-in-bottom {
    animation: slideInFromBottom 1s ease-out forwards;
  }
